@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"],
[data-theme="dark"] body {
  color: white;
  background: linear-gradient(90deg, #000000 0%, #070d10 50%, #141a1f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
  overflow-y: unset !important;
  height: 100%;
}

[data-rk],
#__next {
  height: 100%;
}

[data-rk] ._9pm4ki3 {
  top: 0 !important;
}

[data-rk] .ju367vaj {
  background: none !important;
}

main {
  height: 81.5%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fefe0e;
  border-radius: 10px;
}

.bg-overlay {
  background: linear-gradient(90deg, #000000 0%, #070d10 50%, #141a1f);
  height: 100vh;
  width: 100vw;
}

.chakra-modal__content {
  background: linear-gradient(90deg, #33393f 0, #2a2b2b) !important;
  overflow-y: scroll !important;
}

.show-project-modal {
  min-width: 50%;
  max-height: 95%;
}

.show-project-modal .show-project-grid {
  width: 39% !important;
}

.chakra-popover__content {
  background: linear-gradient(90deg, #2a2b2b 0, #33393f) !important;
}

.css-os14jl > option,
.css-os14jl > optgroup {
  background: #2a2b2b !important;
}

/* CONNECT WALLET */

.connect-wallet-container {
  height: 100%;
  text-align: center;
}
.profile-picture {
  cursor: pointer;
}
.connect-wallet-heading {
  margin-top: -30px !important;
}
.connect-wallet-text {
  display: none;
}
.particle-spacer {
  height: 200px;
}
#particle-slider,
.slides,
.draw,
.connect-wallet-box {
  background-attachment: fixed;
  background-position: 0 0;
  background-size: 400vw 300vw;
  height: 91vh;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 0;
  margin-top: 3rem;
}
.connect-wallet-box {
  justify-content: center;
}
.connect-button button {
  z-index: 9;
}

/* PROJECTS */
.projects-container {
  height: 100%;
}
.profile-container {
  height: 100%;
}
.faq-container {
  height: 100%;
  max-width: 60% !important;
  margin-bottom: 19.8rem;
}
.project-section-title {
  margin-left: 8vw;
}
.projects-label {
  margin-left: -10rem;
}
.project-box {
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  position: relative;
  transition: opacity 0.5s linear;
  box-shadow: 0px 1px 8px 0px rgba(255, 255, 0, 0.7);
}
.project-box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #040d11 0, #00020d);
  z-index: -1;
  transition: opacity 0.5s linear;
  box-shadow: inset 0px 1px 8px 0px rgba(255, 255, 0, 0.7);
  opacity: 0;
}
.project-box:hover {
  box-shadow: none;
}
.project-box:hover::before {
  opacity: 1;
}

.projects-section-flex {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.all-contributors {
  color: white;
  width: 1.6rem;
  height: 1.2rem;
  margin-left: 0.2rem !important;
}
.popover-contributors {
  position: absolute;
}
.contributorPFP,
.racksPFP {
  cursor: pointer;
  border-radius: 100%;
}
.ownerPFP {
  height: 34.5px;
  width: 34.5px;
  padding-top: 2.2px;
  padding-left: 2.2px;
  background: linear-gradient(
    60deg,
    #fefe0e,
    #acac08,
    #020910,
    #020910,
    #a1a0a0,
    #ffffff
  );
  border-radius: 100%;
  z-index: -1;
  animation: animatedgradient 30s ease alternate infinite;
  background-size: 300% 300%;
}
.racksPFP {
  width: 2rem !important;
  height: 1rem !important;
  margin-top: 7px;
  margin-left: -1px;
}

/* CREATE PROJECT COMPONENT */

#img-selector {
  visibility: hidden;
  width: 100%;
}

#img-selector::before {
  display: inline-block;
  border: solid 1px #4d4e4f;
  background: transparent;
  color: #9ca3af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 8px 0;
  visibility: visible;
  content: var(--contentText, "Seleccionar Imagen");
}

#img-selector:hover::before {
  border-color: #5e5e5f;
  color: white;
}

/* PROFILE */

.profile-mrc-background {
  height: 6rem;
  width: 100%;
}

.profile-reputation-text {
  position: absolute;
  top: 6.3rem;
  left: 18vw;
  font-size: 1.4rem;
  text-shadow: 1.5px 0 #000;
  letter-spacing: 1px;
  font-weight: bold;
}

.profile-projects-text {
  position: absolute;
  top: 6.3rem;
  right: 18vw;
  font-size: 1.4rem;
  text-shadow: 1.5px 0 #000;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: end;
}

.grid-center {
  align-content: center;
  justify-content: center;
}

/* FOOTER */

.footer-box {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999 !important;
}

.beta-tag {
  z-index: 5;
  padding: 5px;
  width: 200px;
  text-align: center;
  position: fixed;
  background: #f2f2f2;
  bottom: 0rem;
  left: 0rem;
  transform: rotate(45deg) translate(-29%, 120%);
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
}
.beta-tag span {
  text-transform: uppercase;
  color: #030303;
  font-size: 14px;
  font-weight: 900;
  text-shadow: 0.5px 0 #000;
  letter-spacing: 1px;
}

@media screen and (max-width: 1500px) {
  main {
    height: 80%;
  }
  .project-section-title {
    align-self: center !important;
    text-align: center;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1400px) {
  .faq-container {
    margin-bottom: 16rem;
  }
}

@media screen and (max-width: 1000px) {
  .projects-container {
    margin-top: 0 !important;
  }
  .profile-form-grid {
    width: 100% !important;
    padding: 0 2rem !important;
  }
  .profile-reputation-text,
  .profile-projects-text {
    font-size: 2vw !important;
    top: 7rem !important;
    text-shadow: 1.2px 0 #000;
    letter-spacing: 0.8px;
  }
  .profile-reputation-text {
    left: 10vw;
  }
  .profile-projects-text {
    right: 10vw;
  }
  .faq-container {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 520px) {
  main {
    height: 77%;
  }
  [data-rk] ._9pm4ki3 {
    top: 200px !important;
  }
  /* CONNECT WALLET */
  .rackspm-heading {
    margin-top: 1rem;
    margin-bottom: -2rem;
    font-size: 6vw !important;
  }
  .connect-wallet-heading {
    font-size: 5vw !important;
    line-height: 12vw !important;
    margin-top: 0 !important;
  }
  .connect-wallet-text {
    display: block;
    font-size: 10vw !important;
  }
  .connect-wallet-subtext {
    margin-top: 1vw;
    font-size: 3.5vw !important;
  }
  #particle-slider,
  .particle-spacer,
  .slides,
  .draw {
    display: none;
  }

  /* FOOTER */
  .footer-rackslabs {
    font-size: 3.2vw !important;
  }

  /* NAVBAR */
  .rackslabs-logo {
    width: 30vw !important;
  }
  .connect-button button,
  .custom-buttons {
    width: 25vw !important;
    height: 7vw !important;
    font-size: 2.7vw !important;
    padding: 0 2.5vw !important;
  }
  .wallet-button {
    font-size: 2.7vw !important;
  }
  .logoutBtn {
    width: 14vw !important;
  }
  .navbar-logo-container {
    padding-left: 1.5vw !important;
  }
  .navbar-buttons-container {
    padding-right: 6vw !important;
  }
  .profile-picture {
    width: 50px !important;
    height: 50px !important;
    margin-right: 3vw !important;
  }

  /* MODALS */
  .chakra-modal__content {
    transform: scale(0.8) !important;
    overflow-y: scroll !important;
  }
  .create-pj-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .visibility-check {
    margin-top: 1rem !important;
    margin-left: 0 !important;
  }

  /* POPOVERS */
  .chakra-popover__content {
    transform: scale(0.8) !important;
  }

  /* PROYECTS */
  .project-section-title {
    font-size: 5.1vw !important;
  }

  /* PROFILE */
  .profile-form select,
  .profile-form label,
  .profile-form input {
    font-size: 0.7rem !important;
  }
  .profie-input-email {
    margin-top: 0 !important;
  }
  .profile-reputation-text,
  .profile-projects-text {
    font-size: 0.7rem !important;
    text-shadow: 1px 0 #000;
    top: 22vw !important;
    letter-spacing: 0.5px;
  }

  /* CONTRIBUTORS */
  .contributors-table {
    transform: scale(0.95);
    height: 75%;
  }
  .contributors-popover-select {
    font-size: 0.7rem !important;
  }
  .beta-tag {
    width: 200px;
    height: 20px;
    transform: rotate(45deg) translate(-31.5%, 260%);
    box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .beta-tag span {
    font-size: 10px;
    text-shadow: 0.3px 0 #000;
  }
  .faq-container {
    max-width: 95% !important;
    margin-bottom: 3rem;
  }
  .faq-container {
    font-size: 12px !important;
  }
  .faq-container span {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 500px) {
  .profile-reputation-text,
  .profile-projects-text {
    top: 5rem !important;
    font-size: 2.5vw !important;
  }
  .profile-reputation-text {
    left: 3vw !important;
  }
  .profile-projects-text {
    right: 3vw !important;
  }
}

@media screen and (max-width: 380px) {
  .profile-picture {
    width: 45px !important;
    height: 45px !important;
  }
  .project-box {
    transform: scale(0.85);
  }
  .profile-reputation-text,
  .profile-projects-text {
    top: 4.5rem !important;
    font-size: 2.3vw !important;
  }
  .faq-container {
    margin-bottom: 3rem;
  }
}

@media screen and (min-height: 740px) and (max-width: 520px) {
  main {
    height: 79%;
  }
}

@media screen and (min-height: 1050px) {
  main {
    height: 83%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
