@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"],
[data-theme="dark"] body {
  color: white;
  background: linear-gradient(90deg, #0e0f13 0, #21262c);
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
}

.bg-overlay {
  background: linear-gradient(90deg, #0e0f13 0, #21262c);
  height: 100vh;
  width: 100vw;
}

.chakra-modal__content {
  background: linear-gradient(90deg, #33393f 0, #2a2b2b) !important;
}

.chakra-popover__content {
  background: linear-gradient(90deg, #2a2b2b 0, #33393f) !important;
}

.css-os14jl > option,
.css-os14jl > optgroup {
  background: #33393f !important;
}

/* CONNECT WALLET */

.connect-wallet-container {
  min-height: 70vh;
  min-width: 43rem;
  text-align: center;
}

/* PROJECTS */

.projects-container {
  min-height: 73vh;
}
