@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"],
[data-theme="dark"] body {
  color: white;
  background: linear-gradient(90deg, #05090b 0%, #070d10 50%, #141a1f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
  height: 100%;
}

[data-rk],
#__next {
  height: 100%;
}

[data-rk] ._9pm4ki3 {
  top: 200px !important;
}

[data-rk] .ju367vaj {
  background: none !important;
}

main {
  height: 81.5%;
}

.bg-overlay {
  background: linear-gradient(90deg, #05090b 0%, #070d10 50%, #141a1f);
  height: 100vh;
  width: 100vw;
}

.chakra-modal__content {
  background: linear-gradient(90deg, #33393f 0, #2a2b2b) !important;
}

.chakra-popover__content {
  background: linear-gradient(90deg, #2a2b2b 0, #33393f) !important;
}

.css-os14jl > option,
.css-os14jl > optgroup {
  background: #2a2b2b !important;
}

/* CONNECT WALLET */

.connect-wallet-container {
  height: 100%;
  text-align: center;
}

/* PROJECTS */

.projects-container {
  height: 100%;
}

.profile-container {
  height: 100%;
}

.projects-label {
  margin-left: -10rem;
}

.project-box {
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.project-box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #040d11 0, #00020d);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.project-box:hover::before {
  opacity: 1;
}

.projects-section-flex {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/* CREATE PROJECT COMPONENT */

#img-selector {
  visibility: hidden;
  width: 100%;
}

#img-selector::before {
  display: inline-block;
  border: solid 1px #4d4e4f;
  background: transparent;
  color: #9ca3af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 8px 0;
  visibility: visible;
  content: var(--contentText, "Seleccionar Imagen");
}

#img-selector:hover::before {
  border-color: #5e5e5f;
  color: white;
}

/* PROFILE */

.profile-mrc-background {
  height: 6rem;
  width: 100%;
}

.profile-reputation-text {
  position: absolute;
  top: 6.3rem;
  left: 18vw;
  font-size: 1.4rem;
  text-shadow: 1.5px 0 #000;
  letter-spacing: 1px;
  font-weight: bold;
}

.profile-projects-text {
  position: absolute;
  top: 6.3rem;
  right: 18vw;
  font-size: 1.4rem;
  text-shadow: 1.5px 0 #000;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: end;
}

.grid-center {
  align-content: center;
  justify-content: center;
}

/* FOOTER */

.footer-box {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1500px) {
  main {
    height: 80%;
  }
}

@media screen and (max-width: 1400px) {
  .projects-section-flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {
  .projects-container {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 520px) {
  main {
    height: 77%;
  }
  /* CONNECT WALLET */
  .rackspm-heading {
    margin-top: 1rem;
    margin-bottom: -2rem;
    font-size: 6vw !important;
  }
  .connect-wallet-heading {
    font-size: 5vw !important;
    line-height: 12vw !important;
  }
  .connect-wallet-text {
    font-size: 10vw !important;
  }
  .connect-wallet-subtext {
    margin-top: -1vw;
    font-size: 3.5vw !important;
  }

  /* FOOTER */
  .footer-rackslabs {
    font-size: 3.2vw !important;
  }

  /* NAVBAR */
  .rackslabs-logo {
    width: 30vw !important;
  }
  .connect-button button,
  .custom-buttons {
    width: 25vw !important;
    height: 7vw !important;
    font-size: 2.7vw !important;
    padding: 0 2.5vw !important;
  }
  .wallet-button {
    font-size: 2.7vw !important;
  }
  .logoutBtn {
    width: 14vw !important;
  }
  .navbar-logo-container {
    padding-left: 1.5vw !important;
  }
  .navbar-buttons-container {
    padding-right: 4vw !important;
  }

  /* MODALS */
  .chakra-modal__content {
    transform: scale(0.8) !important;
    overflow: scroll !important;
  }
  .create-pj-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .visibility-check {
    margin-top: 1rem !important;
    margin-left: 0 !important;
  }

  /* POPOVERS */
  .chakra-popover__content {
    transform: scale(0.8) !important;
  }

  /* PROYECTS */
  .project-section-title {
    align-self: center !important;
    text-align: center;
    font-size: 5.1vw !important;
  }

  /* CONTRIBUTORS */
  .contributors-table {
    transform: scale(0.95);
    height: 75%;
  }
}

@media screen and (max-width: 360px) {
  .project-box {
    transform: scale(0.85);
  }
}

@media screen and (min-height: 740px) and (max-width: 520px) {
  main {
    height: 79%;
  }
}

@media screen and (min-height: 1050px) {
  main {
    height: 82%;
  }
}
